@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');


/* STYLE RESET */
* {
	box-sizing: border-box;
    margin: 0;
	padding: 0;
}


/* MAIN STYLES */
body {
	font-family: "Montserrat", sans-serif !important;
	font-size: 20px;  
	font-weight: 400;
	color: #1e425a;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.hidden {
	display: none;
}
.chosen {
	background-color: #f4e9ce !important;
	opacity: 0.9;
	filter: none !important;
	box-shadow: inset 0px 0px 20px #32230350;
	
}
.chosen:hover {
	transform: none !important;
}
.chosen button.main-buttons {
	color: #fff6dae7 !important;
	font-weight: 900 !important;
	background-color: #04223796 !important;
	transition: 0.3s ease;
}
.chosen button.main-buttons:hover {
	color: #fdf4dae7 !important;
}


.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 3;

	padding: 30px 40px;

	background-color: #1e425a;
	color: #fdf4da;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.header-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	gap: 7px;
}

.header-logo-text {
	font-size: 35px;
	font-weight: 800;
}

div.header-search {
	width: 45vw;
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 0;

	border-radius: 10px;
	overflow: hidden;
}
input {
	font-family: inherit;
}
div.header-search > input {
	flex-grow: 1;
	padding: 13px 10px 13px 25px;
	font-size: 20px;
	font-weight: 550;
	border: none;

	color: #1e425a !important;
	background-color: #fdf4da;
}
div.header-search > input:focus {
    outline: none;
}
input::placeholder {
    color: #1e425a; /* Change placeholder text color */
    opacity: 0.6; /* Optional: Adjust opacity */
}
div.header-search > button {
	padding: 10px 25px;

	font-size: 23px;
	font-weight: 900;
	color: #1e425a;
	
	border: none;
	cursor: pointer;
	background-color: #fdf4da;
}
.header-redirects {
	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 15px;
}
#order-redirect {
	width: 55px;
}
.header-logo-img, a.header-redirect > img {
	width: 50px;
}


main {
	display: flex;
	flex-grow: 1;
}
aside {
	background-color: #fdf4da;
	width: auto;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));

	transition: 0.5s ease;
}
.sidebar {
	padding: 10px 25px 35px 25px;
	position: sticky;
	width: 20vw;
	top: 0;
}
.sidebar-section {
	padding-top: 35px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.filter-menu {
	display: flex;
	flex-direction: column;
}
.filter-item {
	display: flex;
	align-items: center;
	font-size: 23px;
	font-weight: 600;
	padding: 7px 0;
	color: #333;
	cursor: pointer;
	gap: 8px;
}
.filter-item input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	overflow: hidden;
	flex-shrink: 0;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	background-color: #dfd4b9;

	cursor: pointer;
	position: relative;
	transition: all 0.3s ease;
}
.filter-item input[type="checkbox"]:checked {
	background-color: #1e425a;
}
.filter-item input[type="checkbox"]:checked::after {
	content: '';
	position: absolute;
	top: 2.7px;
	left: 6px;

	width: 4px;
	height: 9px;
	border-radius: 1px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.filter-item input[type="checkbox"]:hover {
	background-color: #132d3e;
	opacity: 1;
}
.filter-item span {
	color: #1e425a;
}

.price-filter-block {
	display: flex;

}

div.price-filter-block {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 10px;

	overflow: hidden;
}
div.price-filter-block-input {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}
div.price-filter-block-input > span {
	font-size: 21px;
	font-weight: 550;
}
.price-filter-input {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 7px;
	overflow: hidden;
}
div.price-filter-block-input > div > input {
	width: 80%;
	padding: 8px 0 8px 17px;
	font-size: 21px;
	font-weight: 650;
	border: none;

	color: #1e425a;
	background-color: #f2e6c9;
}
div.price-filter-block-input > div > input:focus {
    outline: none;
}
.price-filter-block-input input[type=number]::-webkit-outer-spin-button,
.price-filter-block-input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-input-controls {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.number-input-button {
	width: 100%;
	color: #1e425a;
	background-color: #f2e6c9;
	flex-grow: 1;

	font-size: 11px;
	border: none;
	cursor: pointer;
}
.increase-price {
	padding: 5px 5px 0 0;
}
.decrease-price {
	padding: 0 5px 5px 0;
}
#apply-filters-button {
	width: 100%;
	margin-top: 30px !important;
}


.catalog {
	background-color: #f2e6c9;
	flex-grow: 1;
	overflow-y: scroll;
	
	padding: 0px 60px;
}
div.catalog-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1.section-header {
	color: #1e425a;
	font-size: 45px;
	font-weight: 700;
	margin: 50px 0px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-button {
    width: 100%;
    padding: 13px 35px;

	font-size: 17px;
	font-weight: 750;
	color: #fdf4da;
    background-color: #1e425a;
	
    border-radius: 10px;
    border: none;
    
    cursor: pointer;
    transition: border-radius 0.15s ease; /* Плавный переход углов */
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
	padding: 10px 0;

	
	background-color: #1e425a;
	color: #fdf4da;
    border-radius: 0 0 10px 10px;

    overflow: hidden;
    transform: scaleY(0); /* Сжатие по вертикали */
    transform-origin: top; /* Точка открытия сверху */
    transition: transform 0.23s ease; /* Плавный переход высоты */
    z-index: 10;
}
/* Открытие меню */
.dropdown:hover .dropdown-button {
    border-radius: 10px 10px 0 0;
}
.dropdown:hover .dropdown-menu {
    transform: scaleY(1); /* Выдвигаем меню */
	transition-delay: 0.076s;
}
/* Закрытие меню без задержки */
.dropdown:not(:hover) .dropdown-menu {
    transform: scaleY(0); /* Скрываем меню */
}
.dropdown:not(:hover) .dropdown-button {
    border-radius: 10px; /* Плавное восстановление углов */
    transition-delay: 0.176s; /* Задержка для углов после закрытия меню */
}
/* Стили для пунктов меню */
.dropdown-menu a {
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 14px;
	font-weight: 450;
    color: #fdf4da;
    transition: background-color 0.3s ease;
}
.dropdown-menu a:hover {
    background-color: #132d3e;
    color: #fdf4da;
}

div.card-container {
	display: flex;
	justify-content: start;
	align-content: start;
	flex-wrap: wrap;
	gap: 20px;
	row-gap: 35px;
	margin-bottom: 50px;
}
.product-card {
	display: flex;
	flex-direction: column;
	background-color: #fdf4da;
	width: 330px;
	border-radius: 15px;
	box-sizing: border-box;

	cursor: pointer;
	overflow: scroll;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.09));
	transition: transform 0.6s ease, filter 1s ease, 0.5s ease;
}
.product-card:hover {
	position: relative;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.25));
	transform: scale(1.015);
}
div.product-card > img {
	display: block;
	height: 50%;
	max-height: 285px;
	width: 91%;
	border-radius: 12px;
	margin: 15px auto;
	margin-bottom: 0;
	
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.10));
	object-fit: cover;
	object-position: center;
}

div.product-desc-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	flex-grow: 1;
	width: 91%;
	font-weight: 500;
	
	gap: 10px;
	margin: 0 auto;
	padding: 10px 0 14px 0;
}
.product-name {
	font-size: 20px;
	font-weight: 700;
	flex-grow: 1;
	width: 100%;
    text-overflow: ellipsis;
}
.product-rating {
	margin-top: 5px;
}
.product-price-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	gap: 30px;
}
.product-price {
	font-weight: 650;
}
.product-discount-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	color: rgb(210, 41, 50);
}
.product-old-price {
	text-decoration: line-through;
}
.product-discount {
	font-weight: 700;
}
button.main-buttons {
	font-family: inherit;
	font-size: 15px;
	font-weight: 700;
	
	border-radius: 12px;
	border: none;
	background-color: #1e425a;
	color: #fdf4da;
	padding: 13px 35px;
	margin-top: 2px;
	justify-self: end;

	cursor: pointer;
	transition: 0.5s ease;
}
button.main-buttons:hover {
	background-color: #132d3e !important;
}
#fetch-more-button {
	width: 100%;
	height: 50px;
	font-size: 22px;
	font-weight: 800;
	
	margin-bottom: 35px;
	border-radius: 15px;

	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.09));
	transition: transform 0.6s ease, filter 1s ease;
}
#fetch-more-button:hover {
	position: relative;
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.25));
	transform: scale(1.005);
}

footer {
	padding: 30px;
	color: #fdf4da;
	background-color: #1e425a;
}
p.footer-text {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}



@media all and (max-width: 800px) {
	
}


@media all and (max-width: 600px) {
	
}


@media all and (max-width: 400px) {
	
}